name: Test package
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Node v16
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 16

      - name: Install dependencies
        run: yarn install

      - name: Test package
        run: yarn build
